body {
    background-color: rgba(7, 21, 97, 0.568);
}

button {
    height: 33px;
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #4676D7;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 3);
}

button:active {
    color: rgb(255, 0, 0);
}

/* img {
    width: 1200px;
    height: 1000px;
} */
select {
    width: 170px;
    height: 40px;
    font-size: 18px;
}